<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission pour accéder à internet (nécessaire pour Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission optionnelle pour accéder au réseau (pour certaines fonctionnalités) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Be9ik_Wallet"
        tools:targetApi="31">
        <activity
            android:name=".Voucher"
            android:exported="false" />
        <activity
            android:name=".ProfiterActivity"
            android:exported="false" />
        <activity
            android:name=".Historique"
            android:exported="false" />
        <activity
            android:name=".Popup_code_Vendeur"
            android:exported="false" />
        <activity
            android:name=".Be9i"
            android:exported="false" />
        <activity
            android:name=".CodeCadeau"
            android:exported="false" />
        <activity
            android:name=".EnvoyerArgentActivity"
            android:exported="false" />
        <activity
            android:name=".popup_receive_options"
            android:exported="false" />
        <activity
            android:name=".envoyer_argent"
            android:exported="false" />
        <activity
            android:name=".VerificationDone"
            android:exported="false" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activité d'inscription -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Activité principale après connexion -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- Service Firebase (important pour les notifications et autres fonctionnalités) -->
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.FirebaseDatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>

</manifest>